<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by: {{listFiltrado}}</div>
      <div class='col-md-4'>
        <input type='text'
        [(ngModel)]='listFiltrado'/>
      </div>
    </div>
    <div class='row' *ngIf='listFilter'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFiltrado}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='listProducts && listProducts.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)='togleImage()'>
                mostrar img
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let prod of filteredProducts'>
            <td>
              <img *ngIf="showImage" [src]="prod.imageUrl" [title]="prod.productName"
              [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
            </td>
            <td>{{ prod.productName }}</td>
            <td>{{ prod.productCode | lowercase | convertToSpaces:'-'}}</td>
            <td>{{ prod.releaseDate }}</td>
            <td>{{ prod.price | currency:'USD' : 'symbol': '1.2-2'}}</td>
            <td><pm-star [rating]='prod.starRating' (infoRating)=onClickDesplegaInfo($event)></pm-star></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
